
<div style="height:80px"> </div>

<div class="card text-center">
  
  <div style="height:60px"> </div>
  <div class="card-body">
    <h1 class="card-title">欢迎光临！这里是"狂吃不胖"外卖小站</h1>
    <div style="height:50px"> </div>
    <h5 class="card-title">这里有丰富的美食供您选购,已入驻多家商家</h5>
    <div style="height:80px"> </div>

    

    <%= link_to new_user_session_path, method: :get do %>
        <button class="btn btn-primary" type="submit">点击此处进入</button>
    <% end %>

  </div>
  <div style="height:50px"> </div>
</div>