<p style="color: green"><%= notice %></p>

<h1><span class="badge badge-secondary">推荐商铺</span></h1>

<div style="height:20px"> </div>

<div class="row">
  
  <div class="col-sm-4 mx=5">
    <div style="height:10px"> </div>
    <div class="card" style="width: 24rem;">
      <div class="row">
        <div class="col-sm-4">
          <img src="..." class="card-img-top" alt="...">
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
          <div style="height:10px"> </div>
          <%= link_to new_cart_path, method: :get do %>
            <div class="card-body">
              <h4 class="card-title">喜茶(乐山路店)</h4>
            </div>
          <% end %>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">店铺描述: 一家非常好喝的奶茶店!</li>
        <li class="list-group-item">
          <h5>
            推荐商品
          </h5>
          <div style="height:10px"> </div>
          <div class="row">
            <div class="col-sm-4">
              <div>
                <img src="..." class="card-img-top" alt="...">
              </div>
              <div>多肉葡萄</div>
            </div>
            <div class="col-sm-4">
              <div>
                <img src="..." class="card-img-top" alt="...">
              </div>
              <div>多肉青提</div>
            </div>
            <div class="col-sm-4">
              <div>
                  <img src="..." class="card-img-top" alt="...">
                </div>
              <div>多肉莓莓</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4 mx=5">
    <div style="height:10px"> </div>
    <div class="card" style="width: 24rem;">
      <div class="row">
        <div class="col-sm-4">
          <img src="..." class="card-img-top" alt="...">
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
          <div style="height:10px"> </div>
          <%= link_to new_cart_path, method: :get do %>
            <div class="card-body">
              <h4 class="card-title">喜茶(乐山路店)</h4>
            </div>
          <% end %>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">店铺描述: 一家非常好喝的奶茶店!</li>
        <li class="list-group-item">
          <h5>
            推荐商品
          </h5>
          <div style="height:10px"> </div>
          <div class="row">
            <div class="col-sm-4">
              <div>
                <img src="..." class="card-img-top" alt="...">
              </div>
              <div>多肉葡萄</div>
            </div>
            <div class="col-sm-4">
              <div>
                <img src="..." class="card-img-top" alt="...">
              </div>
              <div>多肉青提</div>
            </div>
            <div class="col-sm-4">
              <div>
                  <img src="..." class="card-img-top" alt="...">
                </div>
              <div>多肉莓莓</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4 mx=5">
    <div style="height:10px"> </div>
    <div class="card" style="width: 24rem;">
      <div class="row">
        <div class="col-sm-4">
          <img src="..." class="card-img-top" alt="...">
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-7">
          <div style="height:10px"> </div>
          <%= link_to new_cart_path, method: :get do %>
            <div class="card-body">
              <h4 class="card-title">喜茶(乐山路店)</h4>
            </div>
          <% end %>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">店铺描述: 一家非常好喝的奶茶店!</li>
        <li class="list-group-item">
          <h5>
            推荐商品
          </h5>
          <div style="height:10px"> </div>
          <div class="row">
            <div class="col-sm-4">
              <div>
                <img src="..." class="card-img-top" alt="...">
              </div>
              <div>多肉葡萄</div>
            </div>
            <div class="col-sm-4">
              <div>
                <img src="..." class="card-img-top" alt="...">
              </div>
              <div>多肉青提</div>
            </div>
            <div class="col-sm-4">
              <div>
                  <img src="..." class="card-img-top" alt="...">
                </div>
              <div>多肉莓莓</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>